*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #686de0;
    margin: 0;
}

footer{
    background-color: #686de0;
}


#formContato{
    background-color: #fff;
    width: 100%;
    /*margin: 30px;*/
    border: solid grey 1px;
}

.form-control-lg{
    width: 520px;
    height: 45px;
}

.btn{
    background-color: rgb(79, 86, 219);
    color: #fff;
}

.btn:hover{
    background-color: #686de0;
}